{
	log {
		level ERROR
	}
}

:3000 {
	@recApi path /api/rec*
	handle @recApi {
		uri replace /api/rec /recruitment/api/rec
		reverse_proxy localhost:3002
	}

	@authApiRec {
		path /api/auth*
		header_regexp Cookie slr_token=
	}
	handle @authApiRec {
		uri replace /api/auth /recruitment/api/auth
		reverse_proxy localhost:3002
	}

	@authApiIt {
		path /api/auth*
		header_regexp Cookie slp_token=
	}
	handle @authApiIt {
		uri replace /api/auth /it/api/auth
		reverse_proxy localhost:3001
	}

	handle /it* {
		reverse_proxy localhost:3001
	}

	handle /recruitment* {
		reverse_proxy localhost:3002
	}

	handle {
		reverse_proxy localhost:3003
	}
}
