{
	log {
		level ERROR
	}
}

:3000 {
	@notAllowed not host studiolotushub.in www.studiolotushub.in localhost 127.0.0.1
	respond @notAllowed 403

	@recApi path /api/rec*
	handle @recApi {
		uri replace /api/rec /recruitment/api/rec
		reverse_proxy localhost:3002 {
			header_up X-Original-Host {hostport}
			header_up X-Original-Proto {scheme}
			header_up X-Forwarded-Host {hostport}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle /it* {
		reverse_proxy localhost:3001 {
			header_up X-Original-Host {hostport}
			header_up X-Original-Proto {scheme}
			header_up X-Forwarded-Host {hostport}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle /recruitment* {
		reverse_proxy localhost:3002 {
			header_up X-Original-Host {hostport}
			header_up X-Original-Proto {scheme}
			header_up X-Forwarded-Host {hostport}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle {
		reverse_proxy localhost:3003 {
			header_up X-Original-Host {hostport}
			header_up X-Original-Proto {scheme}
			header_up X-Forwarded-Host {hostport}
			header_up X-Forwarded-Proto {scheme}
		}
	}
}
